<div id="<%= dom_id user %>">
  <p>
    <strong>Fname:</strong>
    <%= user.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= user.lname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

</div>
